<!DOCTYPE html>

<html>
    <head>
      {% include layout_items/head.html %}
      <title>Juan Ignacio Alonso Barba - {{page.title}}</title>
    </head>

    <body>
        {% include layout_items/header.html %}
	{% include layout_items/navbar.html %}

        <main id="main-container" class="container">
        {{ content }}
        </main>

        <footer id="footer-container">
        {% include layout_items/footer.html %}
        </footer>
	{% include layout_items/scripts.html %}
    </body>
</html>
